.Landing {
  .Navbar {
    button,
    a {
      color: inherit;
      box-shadow: none !important;
      white-space: inherit;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        border-radius: 50rem;
        background-color: var(--bs-primary);
        transition: 250ms;
        transform: scale(0);
      }
      &.active,
      &:hover {
        &::after {
          transform: scale(1);
        }
      }
    }
  }
}
