@font-face {
  font-family: "iranyekan-fa";
  src: url(../assets/fonts/Farsi_numerals/IRANYekanRegularFaNum.ttf);
}
@font-face {
  font-family: "iranyekan-en";
  src: url(../assets/fonts/IRANYekanRegular.ttf);
}
